@model MovieExplorer.Web.ViewModels.GenreViewModel

<h1>@Model.GenreName</h1>

<div class="row g-4" id="movieContainer">

    <partial name="_MovieCards"
             model="Model.Movies" />

</div>

<div class="text-center mt-4">

    <button id="loadMoreBtn"
            class="btn btn-outline-primary">
        Load More
    </button>

</div>

// TODO:
// TMDB can return duplicate movies across pages.
// We skip duplicates locally to avoid showing the same movie twice.

@section Scripts
{
    <script>

        let currentPage = @Model.CurrentPage;

        const genreId = @Model.GenreId;

        const loadedMovieIds = new Set();

        document
            .querySelectorAll("[data-movie-id]")
            .forEach(movie => loadedMovieIds.add(movie.dataset.movieId));

        document
            .getElementById("loadMoreBtn")
            .addEventListener("click", async () => {

                currentPage++;

                const response = await fetch(
                    `/Movies/LoadMore?genreId=${genreId}&page=${currentPage}`);

                const html = await response.text();

                const parser = new DOMParser();
                const doc = parser.parseFromString(html, "text/html");

                const newMovies = doc.querySelectorAll("[data-movie-id]");
                const movieContainer = document.getElementById("movieContainer");

                newMovies.forEach(movie => {

                    const movieId = movie.dataset.movieId;

                    if (!loadedMovieIds.has(movieId)) {

                        loadedMovieIds.add(movieId);
                        movieContainer.appendChild(movie);

                    }

                });

            });

    </script>
}