@model List<MovieExplorer.Domain.Entities.Genre>

<h1>Browse genres</h1>

<ul>
@foreach (var genre in Model)
{
    <li>
        <a asp-controller="Movies"
           asp-action="ByGenre"
           asp-route-genreId="@genre.Id">
            @genre.Name
        </a>
    </li>
    }
    
</ul>